
body {
  margin: 0;
  background: linear-gradient(to right, #9999ff 0%, #ff99cc 100%);
  text-align: center;
  font-family: 'Merriweather', serif;
}


.tbn{
  margin: auto 0 auto 0;
  padding-top: 10px;
}

.me{
  margin-top: 80px;
  margin-bottom: 80px;
}

.tbn2{
  margin: auto 0 auto 0;
  padding-top: 10px;
}
